In [14]:
%load_ext autoreload
%autoreload 2
import pandas as pd
pd.set_option('display.max_columns', None) 


from nba_api.stats.static import players

player_dict = players.get_active_players()
id_player_pairs = dict([(player['id'], player['full_name']) for player in player_dict])
player_ids = [pair for pair in id_player_pairs]
#id_player_pairs

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [253]:
import get_gamelog

lebron_df = get_gamelog.player_gamelog(2544)
#lebron_df

In [73]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

# Get all Team IDs
team_dict = teams.get_teams()
id_team_pairs = [(team['id'], team['full_name']) for team in team_dict]
team_ids = [pair[0] for pair in id_team_pairs]
#id_team_pairs

In [256]:
MIL_df = get_gamelog.team_gamelog(1610612749)
#MIL_df

In [257]:
import create_tables
    
create_tables.drop_table("PbP_table")
season = "2023-24" 
season_gameIDs = create_tables.get_gameID(season)
create_tables.create_tables(season_gameIDs)

Table 'PbP_table' dropped!
1: 0022300997 data inserted
2: 0022300095 data inserted
3: 0022300383 data inserted
4: 0022300354 data inserted
5: 0022301193 data inserted
6: 0022301201 data inserted
7: 0022300080 data inserted
8: 0022300958 data inserted
9: 0022300560 data inserted
10: 0022301108 data inserted

In [258]:
from sqlalchemy import create_engine
from config import load_config

config = load_config()
connection_string = f"postgresql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"
engine = create_engine(connection_string)

with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "PbP_table" 
    -- WHERE "gameId" = \'0022300095\'
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,gameId,clock,period,teamId,teamTricode,personId,playerName,shotDistance,shotResult,isFieldGoal,scoreHome,scoreAway,pointsTotal,location,description,actionType,subType,actionId
0,0022301089,PT12M00.00S,1,0,,0,,0,,0,0,0,0,,Start of 1st Period (7:11 PM EST),period,start,1
1,0022301089,PT12M00.00S,1,1610612754,IND,1626167,Turner,0,,0,,,0,h,Jump Ball Turner vs. Claxton: Tip to Schroder,Jump Ball,,2
2,0022301089,PT11M42.00S,1,1610612751,BKN,1628969,Bridges,10,Made,1,0,2,2,v,Bridges 10' Fadeaway Jumper (2 PTS) (Thomas 1 ...,Made Shot,Fadeaway Jump Shot,3
3,0022301089,PT11M23.00S,1,1610612754,IND,1629614,Nembhard,26,Missed,1,,,0,h,MISS Nembhard 26' 3PT Step Back Jump Shot,Missed Shot,Step Back Jump shot,4
4,0022301089,PT11M18.00S,1,1610612751,BKN,1629651,Claxton,0,,0,,,0,v,Claxton REBOUND (Off:0 Def:1),Rebound,Unknown,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9781,0022300223,PT00M12.20S,4,1610612759,SAS,1630577,Champagnie,0,,0,,,0,h,Champagnie BLOCK (1 BLK),,,478
9782,0022300223,PT00M09.00S,4,1610612759,SAS,1629646,Bassey,0,,0,,,0,h,Bassey REBOUND (Off:4 Def:8),Rebound,Unknown,479
9783,0022300223,PT00M03.40S,4,1610612759,SAS,1631321,Cissoko,0,,0,,,0,h,Cissoko Lost Ball Turnover (P1.T16),Turnover,Lost Ball,480
9784,0022300223,PT00M03.40S,4,1610612746,LAC,1626181,Powell,0,,0,,,0,v,Powell STEAL (2 STL),,,481
9785,0022300223,PT00M00.00S,4,0,,0,,0,,0,99,124,223,,End of 4th Period (10:16 PM EST),period,end,482