In [267]:
%load_ext autoreload
%autoreload 2
import pandas as pd
pd.set_option('display.max_columns', None) 


from nba_api.stats.static import players

player_dict = players.get_active_players()
id_player_pairs = dict([(player['id'], player['full_name']) for player in player_dict])
player_ids = [pair for pair in id_player_pairs]
#id_player_pairs

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

531

In [253]:
import get_gamelog

lebron_df = get_gamelog.player_gamelog(2544)
#lebron_df

In [262]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

# Get all Team IDs
team_dict = teams.get_teams()
id_team_pairs = [(team['id'], team['full_name']) for team in team_dict]
team_ids = [pair[0] for pair in id_team_pairs]
#id_team_pairs

In [256]:
MIL_df = get_gamelog.team_gamelog(1610612749)
#MIL_df

In [6]:
import create_tables

season = "2023-24"
PbP = create_tables.PlaybyPlayTables()
gameIDS = PbP.get_gameID(season)
len(gameIDS)

1392

In [257]:
create_tables.drop_table("PbP_table")
season = "2023-24" 
season_gameIDs = create_tables.get_gameID(season)
create_tables.create_tables(season_gameIDs)

Table 'PbP_table' dropped!
1: 0022300997 data inserted
2: 0022300095 data inserted
3: 0022300383 data inserted
4: 0022300354 data inserted
5: 0022301193 data inserted
6: 0022301201 data inserted
7: 0022300080 data inserted
8: 0022300958 data inserted
9: 0022300560 data inserted
10: 0022301108 data inserted

In [271]:
from sqlalchemy import create_engine
from config import load_config

config = load_config()
connection_string = f"postgresql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"
engine = create_engine(connection_string)

with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "PbP_table" 
    -- WHERE "gameId" = \'0022300095\'
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,gameId,clock,period,teamId,teamTricode,personId,playerName,shotDistance,shotResult,isFieldGoal,scoreHome,scoreAway,pointsTotal,location,description,actionType,subType,actionId
0,0022300545,PT12M00.00S,1,0,,0,,0,,0,0,0,0,,Start of 1st Period (8:11 PM EST),period,start,1
1,0022300545,PT12M00.00S,1,1610612749,MIL,201572,Lopez,0,,0,,,0,h,Jump Ball B. Lopez vs. Looney: Tip to G. Antet...,Jump Ball,,2
2,0022300545,PT11M37.00S,1,1610612749,MIL,203114,Middleton,23,Made,1,2,0,2,h,Middleton 23' Step Back Jump Shot (2 PTS) (Lil...,Made Shot,Step Back Jump shot,3
3,0022300545,PT11M20.00S,1,1610612744,GSW,202691,Thompson,4,Missed,1,,,0,v,MISS Thompson 4' Cutting Layup Shot,Missed Shot,Cutting Layup Shot,4
4,0022300545,PT11M16.00S,1,1610612749,MIL,1627736,Beasley,0,,0,,,0,h,Beasley REBOUND (Off:0 Def:1),Rebound,Unknown,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52540,0022300016,PT00M17.80S,4,1610612758,SAC,1628370,Monk,19,Missed,1,,,0,h,MISS Monk 19' Fadeaway Jumper,Missed Shot,Fadeaway Jump Shot,509
52541,0022300016,PT00M15.20S,4,1610612758,SAC,203084,Barnes,0,,0,,,0,h,Barnes REBOUND (Off:2 Def:2),Rebound,Unknown,510
52542,0022300016,PT00M00.00S,4,1610612758,SAC,203084,Barnes,24,Missed,1,,,0,h,MISS Barnes 24' 3PT Jump Shot,Missed Shot,Jump Shot,511
52543,0022300016,PT00M00.00S,4,1610612758,SAC,1627734,Sabonis,0,,0,,,0,h,Sabonis REBOUND (Off:6 Def:7),Rebound,Unknown,512
52544,0022300016,PT00M00.00S,4,0,,0,,0,,0,105,98,203,,End of 4th Period (12:35 AM EST),period,end,513

In [268]:
from sqlalchemy import create_engine
from config import load_config

config = load_config()
connection_string = f"postgresql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"
engine = create_engine(connection_string)

with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "tmLogs_table"
    -- WHERE "TEAM_ID" = \'1610612737\'
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,SEASON_ID,Season,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,TEAM,OPPONENT,LOCATION,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52023,2023-24,1610612737,ATL,Atlanta Hawks,0052300111,2024-04-17,ATL @ CHI,ATL,CHI,Away,L,241,116,41,91,0.451,11,37.0,0.297,23,28,0.821,8.0,26.0,34.0,30,4.0,2,9,16,-15.0
1,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301188,2024-04-14,ATL @ IND,ATL,IND,Away,L,241,115,39,89,0.438,12,36.0,0.333,25,27,0.926,9.0,23.0,32.0,25,6.0,5,15,12,-42.0
2,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301178,2024-04-12,ATL @ MIN,ATL,MIN,Away,L,240,106,40,90,0.444,9,30.0,0.300,17,25,0.680,9.0,31.0,40.0,23,4.0,1,14,25,-3.0
3,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301159,2024-04-10,ATL vs. CHA,ATL,CHA,Home,L,240,114,43,82,0.524,18,40.0,0.450,10,16,0.625,7.0,31.0,38.0,35,7.0,2,16,20,-1.0
4,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301147,2024-04-09,ATL vs. MIA,ATL,MIA,Home,L,292,111,45,113,0.398,10,46.0,0.217,11,14,0.786,17.0,42.0,59.0,28,13.0,2,15,23,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105783,21988,1988-89,1610612766,CHH,Charlotte Hornets,0028800062,1988-11-12,CHH @ ATL,CHH,ATL,Away,L,238,111,42,88,0.477,1,3.0,0.333,26,32,0.813,14.0,21.0,35.0,30,12.0,2,19,26,NaN
105784,21988,1988-89,1610612766,CHH,Charlotte Hornets,0028800052,1988-11-11,CHH @ WAS,CHH,WAS,Away,L,240,87,34,77,0.442,0,4.0,0.000,19,25,0.760,11.0,32.0,43.0,22,9.0,1,23,26,NaN
105785,21988,1988-89,1610612766,CHH,Charlotte Hornets,0028800024,1988-11-08,CHH vs. LAC,CHH,LAC,Home,W,240,117,43,90,0.478,0,2.0,0.000,31,42,0.738,17.0,38.0,55.0,28,9.0,1,17,31,NaN
105786,21988,1988-89,1610612766,CHH,Charlotte Hornets,0028800015,1988-11-05,CHH @ DET,CHH,DET,Away,L,240,85,33,95,0.347,0,1.0,0.000,19,19,1.000,21.0,19.0,40.0,18,8.0,6,11,21,NaN
105787,21988,1988-89,1610612766,CHH,Charlotte Hornets,0028800008,1988-11-04,CHH vs. CLE,CHH,CLE,Home,L,240,93,40,86,0.465,0,0.0,NaN,13,20,0.650,7.0,24.0,31.0,27,8.0,1,24,25,NaN

In [270]:
from sqlalchemy import create_engine
from config import load_config

config = load_config()
connection_string = f"postgresql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"
engine = create_engine(connection_string)

with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "playLogs_table"
    -- WHERE "TEAM_ID" = \'1610612737\'
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,SEASON_ID,Season,Player_ID,Player_Name,Game_ID,GAME_DATE,MATCHUP,TEAM,OPPONENT,LOCATION,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2023-24,1630173,Precious Achiuwa,0022301190,"APR 14, 2024",NYK vs. CHI,NYK,CHI,Home,W,19,2,3,0.667,0,0,0.0,0,0,0.000,1,4,5,2,0,1,2,3,4,-2,1
1,22023,2023-24,1630173,Precious Achiuwa,0022301175,"APR 12, 2024",NYK vs. BKN,NYK,BKN,Home,W,8,2,2,1.000,1,1,1.0,0,0,0.000,0,3,3,0,0,0,0,0,5,3,1
2,22023,2023-24,1630173,Precious Achiuwa,0022301167,"APR 11, 2024",NYK @ BOS,NYK,BOS,Away,W,16,1,6,0.167,0,1,0.0,0,0,0.000,2,3,5,0,0,1,1,0,2,-9,1
3,22023,2023-24,1630173,Precious Achiuwa,0022301139,"APR 07, 2024",NYK @ MIL,NYK,MIL,Away,W,5,0,1,0.000,0,0,0.0,0,0,0.000,0,0,0,0,0,0,0,1,0,5,1
4,22023,2023-24,1630173,Precious Achiuwa,0022301119,"APR 05, 2024",NYK @ CHI,NYK,CHI,Away,L,19,0,2,0.000,0,1,0.0,0,0,0.000,1,3,4,1,1,0,1,4,0,-2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25867,22023,2023-24,1627826,Ivica Zubac,0022300127,"NOV 01, 2023",LAC @ LAL,LAC,LAL,Away,L,29,3,8,0.375,0,0,0.0,1,2,0.500,2,7,9,0,0,0,1,5,7,-6,1
25868,22023,2023-24,1627826,Ivica Zubac,0022300114,"OCT 31, 2023",LAC vs. ORL,LAC,ORL,Home,W,23,4,8,0.500,0,0,0.0,1,2,0.500,2,7,9,1,0,1,1,1,9,19,1
25869,22023,2023-24,1627826,Ivica Zubac,0022300099,"OCT 29, 2023",LAC vs. SAS,LAC,SAS,Home,W,22,6,7,0.857,0,0,0.0,4,6,0.667,2,6,8,0,0,1,1,4,16,23,1
25870,22023,2023-24,1627826,Ivica Zubac,0022300085,"OCT 27, 2023",LAC @ UTA,LAC,UTA,Away,L,19,3,6,0.500,0,0,0.0,0,2,0.000,0,2,2,0,0,2,1,2,6,1,1
25871,22023,2023-24,1627826,Ivica Zubac,0022300074,"OCT 25, 2023",LAC vs. POR,LAC,POR,Home,W,26,8,10,0.800,0,0,0.0,4,5,0.800,5,7,12,0,0,4,2,3,20,25,1