In [14]:
%load_ext autoreload
%autoreload 2
import pandas as pd
pd.set_option('display.max_columns', None) 


from nba_api.stats.static import players

player_dict = players.get_active_players()
id_player_pairs = dict([(player['id'], player['full_name']) for player in player_dict])
player_ids = [pair for pair in id_player_pairs]
#id_player_pairs

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [151]:
import get_gamelog

lebron_df = get_gamelog.player_gamelog(2544)
#lebron_df

In [73]:
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder

# Get all Team IDs
team_dict = teams.get_teams()
id_team_pairs = [(team['id'], team['full_name']) for team in team_dict]
team_ids = [pair[0] for pair in id_team_pairs]
#id_team_pairs

In [121]:
#get_gamelog.team_gamelog(1610612749)

In [148]:
import create_tables

create_tables.drop_table("PbP_table")

Table 'PbP_table' dropped!

In [149]:
season = "2023-24" 
season_gameIDs = create_tables.get_gameID(season)
create_tables.create_tables(season_gameIDs)

In [150]:
from sqlalchemy import create_engine
from config import load_config

config = load_config()
connection_string = f"postgresql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"
engine = create_engine(connection_string)

with engine.connect() as db_connection:
    query = 'SELECT * FROM "PbP_table"'
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,gameId,clock,period,teamId,teamTricode,personId,playerName,shotDistance,shotResult,isFieldGoal,scoreHome,scoreAway,pointsTotal,location,description,actionType,subType,actionId
0,0022300997,PT12M00.00S,1,0,,0,,0,,0,0,0,0,,Start of 1st Period (7:11 PM EST),period,start,1
1,0022300997,PT12M00.00S,1,1610612765,DET,1631105,Duren,0,,0,,,0,h,Jump Ball Duren vs. Turner: Tip to Siakam,Jump Ball,,2
2,0022300997,PT11M41.00S,1,1610612754,IND,1626167,Turner,27,Missed,1,,,0,v,MISS Turner 27' 3PT Jump Shot,Missed Shot,Jump Shot,3
3,0022300997,PT11M38.00S,1,1610612765,DET,1630595,Cunningham,0,,0,,,0,h,Cunningham REBOUND (Off:0 Def:1),Rebound,Unknown,4
4,0022300997,PT11M24.00S,1,1610612765,DET,1630595,Cunningham,10,Made,1,2,0,2,h,Cunningham 10' Pullup Jump Shot (2 PTS),Made Shot,Pullup Jump shot,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
937,0022300095,PT00M40.50S,4,1610612743,DEN,1631124,Strawther,0,,0,,,0,v,Strawther REBOUND (Off:0 Def:1),Rebound,Unknown,446
938,0022300095,PT00M34.60S,4,1610612743,DEN,1631124,Strawther,26,Made,1,95,128,223,v,Strawther 26' 3PT Pullup Jump Shot (8 PTS),Made Shot,Pullup Jump shot,447
939,0022300095,PT00M25.30S,4,1610612760,OKC,1630544,Mann,27,Missed,1,,,0,h,MISS Mann 27' 3PT Pullup Jump Shot,Missed Shot,Pullup Jump shot,448
940,0022300095,PT00M21.80S,4,1610612743,DEN,1630296,Key,0,,0,,,0,v,Key REBOUND (Off:0 Def:1),Rebound,Unknown,449
941,0022300095,PT00M00.00S,4,0,,0,,0,,0,95,128,223,,End of 4th Period (5:42 PM EST),period,end,450