In [19]:
%load_ext autoreload
%autoreload 2
import pandas as pd
pd.set_option('display.max_columns', None)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [20]:
import create_tables

season = "2023-24"
PbP = create_tables.PlaybyPlayTables()
gameIDS = PbP.get_gameID(season)
len(gameIDS)

1393

In [21]:
#create_tables.drop_table("PbP_table")
#season = "2023-24" 
#season_gameIDs = create_tables.get_gameID(season)
#create_tables.create_tables(season_gameIDs)

In [22]:
from sqlalchemy import create_engine
import os
from dotenv import load_dotenv, dotenv_values

load_dotenv()
db_url = os.getenv("POSTGRES_URL") 
engine = create_engine(db_url)

In [26]:
with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "playLogs_table" 
    LIMIT 5
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,SEASON_ID,Season,Player_ID,Player_Name,Game_ID,GAME_DATE,MATCHUP,TEAM,OPPONENT,LOCATION,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,22023,2023-24,1630173,Precious Achiuwa,0022301190,"APR 14, 2024",NYK vs. CHI,NYK,CHI,Home,W,19,2,3,0.667,0,0,0.0,0,0,0.0,1,4,5,2,0,1,2,3,4,-2,1
1,22023,2023-24,1630173,Precious Achiuwa,0022301175,"APR 12, 2024",NYK vs. BKN,NYK,BKN,Home,W,8,2,2,1.000,1,1,1.0,0,0,0.0,0,3,3,0,0,0,0,0,5,3,1
2,22023,2023-24,1630173,Precious Achiuwa,0022301167,"APR 11, 2024",NYK @ BOS,NYK,BOS,Away,W,16,1,6,0.167,0,1,0.0,0,0,0.0,2,3,5,0,0,1,1,0,2,-9,1
3,22023,2023-24,1630173,Precious Achiuwa,0022301139,"APR 07, 2024",NYK @ MIL,NYK,MIL,Away,W,5,0,1,0.000,0,0,0.0,0,0,0.0,0,0,0,0,0,0,0,1,0,5,1
4,22023,2023-24,1630173,Precious Achiuwa,0022301119,"APR 05, 2024",NYK @ CHI,NYK,CHI,Away,L,19,0,2,0.000,0,1,0.0,0,0,0.0,1,3,4,1,1,0,1,4,0,-2,1

In [23]:
with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "tmLogs_table" 
    LIMIT 5
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,SEASON_ID,Season,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,TEAM,OPPONENT,LOCATION,WL,MIN,PTS,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,52023,2023-24,1610612737,ATL,Atlanta Hawks,0052300111,2024-04-17,ATL @ CHI,ATL,CHI,Away,L,241,116,41,91,0.451,11,37,0.297,23,28,0.821,8,26,34,30,4.0,2,9,16,-15.0
1,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301188,2024-04-14,ATL @ IND,ATL,IND,Away,L,241,115,39,89,0.438,12,36,0.333,25,27,0.926,9,23,32,25,6.0,5,15,12,-42.0
2,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301178,2024-04-12,ATL @ MIN,ATL,MIN,Away,L,240,106,40,90,0.444,9,30,0.300,17,25,0.680,9,31,40,23,4.0,1,14,25,-3.0
3,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301159,2024-04-10,ATL vs. CHA,ATL,CHA,Home,L,240,114,43,82,0.524,18,40,0.450,10,16,0.625,7,31,38,35,7.0,2,16,20,-1.0
4,22023,2023-24,1610612737,ATL,Atlanta Hawks,0022301147,2024-04-09,ATL vs. MIA,ATL,MIA,Home,L,292,111,45,113,0.398,10,46,0.217,11,14,0.786,17,42,59,28,13.0,2,15,23,-6.0

In [24]:
with engine.connect() as db_connection:
    query = '''
    SELECT * FROM "PbP_table" 
    LIMIT 5
    ;'''
    data_frame = pd.read_sql(query, db_connection)
    display(data_frame)

,gameId,clock,period,teamId,teamTricode,personId,playerName,shotDistance,shotResult,isFieldGoal,scoreHome,scoreAway,pointsTotal,location,description,actionType,subType,actionId
0,0022300120,PT05M30.00S,4,1610612752,NYK,203944,Randle,0,,0,,,0,h,Randle REBOUND (Off:0 Def:5),Rebound,Unknown,424
1,0022300120,PT05M10.00S,4,1610612752,NYK,1628973,Brunson,15,Missed,1,,,0,h,MISS Brunson 15' Turnaround Jump Shot,Missed Shot,Turnaround Jump Shot,425
2,0022300120,PT05M08.00S,4,1610612739,CLE,1627747,LeVert,0,,0,,,0,v,LeVert REBOUND (Off:0 Def:5),Rebound,Unknown,426
3,0022300120,PT05M03.00S,4,1610612739,CLE,1628378,Mitchell,24,Missed,1,,,0,v,MISS Mitchell 24' 3PT Jump Shot,Missed Shot,Jump Shot,427
4,0022300120,PT05M01.00S,4,1610612752,NYK,1630193,Quickley,0,,0,,,0,h,Quickley REBOUND (Off:1 Def:4),Rebound,Unknown,428